
body {
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 1rem 1rem;
    max-width: 40rem;
}

/* -------------------------------------------------- */



.jahreswahl {
    background-color: #1F1F1F;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

#year11:active, #year12:active {
    background-color: #BB86FC;
}
#year11:hover, #year12:hover {
    background-color: #6200EE;
}

#year11:disabled, #year12:disabled {
    background-color: #BB86FC;
    opacity: 0.6;
    cursor: not-allowed;
}


#array-length11, #array-length12 {
    background-color: #7843f4;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    /* margin-bottom: 1rem; */
    margin-right: 1.5rem;
    font-size: 0.7rem;
    cursor: not-allowed;
}

.CopyPaste {
    margin-top: 0.5rem;
}

#copy-first, #copy-second{
    background-color: #CF6679;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    margin-left: 0.1rem;
    margin-right: 1.5rem;
    width: 5.84rem;
}

#copy-first:hover, #copy-second:hover {
    background-color: #aa3b53;
}   

#copy-first:active, #copy-second:active {
    background-color: #591d2a;
}

/* #copyyy{
    width: 6rem;
} */

/* -------------------------------------------------- */

.faecherwahl {
    background-color: #1F1F1F;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
} 

.subject-button, #year11, #year12 {
    background-color: #3700B3;
    border: none;
    color: white;
    padding: 0.5rem 0.5rem;
    text-align: center;
    display: inline-block;
    font-size: 0.7rem;
    margin: 0.2rem 0.1rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

#year11:active, #year12:active {
    background-color: #BB86FC;
}
#year11:hover, #year12:hover {
    background-color: #6200EE;
}

#year11:disabled, #year12:disabled {
    background-color: #BB86FC;
    opacity: 0.6;
    cursor: not-allowed;
}

.subject-button:active {
    background-color: #BB86FC;
}
.subject-button:hover {
    background-color: #6200EE;
}

.subject-button:disabled {
    background-color: #000000;
    opacity: 0.6;
    cursor: not-allowed;
}

/* -------------------------------------------------- */

.arrayanzeige11 {
    background-color: #1F1F1F;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 1rem 1rem;
    margin-bottom: 0.5rem;
}  
.arrayanzeige12 {
    background-color: #1F1F1F;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}  

/* -------------------------------------------------- */

.eingabeBearbeitung {
    background-color: #1F1F1F;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-right: 0.2rem;
} 

#input-finished, #input-saved {
    background-color: #03DAC6;
    color: white;
    border: 1rem; 
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin-right: 0.2rem;
    font-size: 0.7rem;
    
}

#input-saved:hover {
    background-color: #21708f;
}

#input-saved:active {
    background-color: #16485b;
}

#pdf {
    background-color: #03DAC6;
    color: white;
    border: 1rem; 
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 0.7rem;
}

#input-finished:hover,#pdf:hover{
    background-color: #21708f;
}

#input-finished:active,#pdf:active{
    background-color: #16485b;
}

#remove-btn, #clear-btn, #clear-All {
    background-color: #CF6679;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    margin-right: 0.2rem;
    border-radius: 0.4rem;
}

#remove-btn:hover, #clear-btn:hover, #clear-All:hover {
    background-color: #aa3b53;
}   

#remove-btn:active, #clear-btn:active, #clear-All:active {
    background-color: #591d2a;
}



/* -------------------------------------------------- */

.feedback {
    background-color: #1F1F1F;
    border: 1rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin-bottom: 4rem;
    font-size: 1rem;
}

/* -------------------------------------------------- */

footer {

    font-size: 0.75rem;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

/* -------------------------------------------------- */


@media only screen and (max-width: 3000px) {
    button {
        font-size: 20px;
        padding: 12px 24px;
    }
}