body {
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 35rem;
    margin: 0 auto;
    border: 1rem solid transparent;
    border-radius: 0.4rem;
    padding: 1rem;
}

/* Array in button line */
#array-display11,
#array-display12 {
    display: inline-block;
}

/* Subject buttons */
.subject-button,
#year11,
#year12 {
    background-color: #3700b3;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    font-size: 0.7rem;
    margin: 0.1rem;
    cursor: pointer;
    border-radius: 0.4rem;
}
#year11:active,
#year12:active {
    background-color: #bb86fc;
}
#year11:hover,
#year12:hover {
    background-color: #6200ee;
}
#year11:disabled,
#year12:disabled {
    background-color: #bb86fc;
    opacity: 0.6;
    cursor: not-allowed;
}
.subject-button:active {
    background-color: #bb86fc;
}
.subject-button:hover {
    background-color: #6200ee;
}
.subject-button:disabled {
    background-color: #bb86fc;
    opacity: 0.6;
    cursor: not-allowed;
}

/* Containers */
.jahreswahl,
.faecherwahl,
.arrayanzeige11,
.arrayanzeige12,
.eingabeBearbeitung,
.feedbackbutton,
.feedback {
    background-color: #1f1f1f;
    border: 1rem solid transparent;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
}
.feedback {
    font-size: 1rem;
}

/* Button input finish */
#input-finished {
    background-color: #34addd;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    margin-right: 0.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
}
#input-finished:hover {
    background-color: #21708f;
}
#input-finished:active {
    background-color: #16485b;
}

/* Buttons remove, clear, clear all */
#remove-btn,
#clear-btn,
#clear-All {
    background-color: #da5975;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    margin-right: 0.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
}
#remove-btn:hover,
#clear-btn:hover,
#clear-All:hover {
    background-color: #aa3b53;
}
#remove-btn:active,
#clear-btn:active,
#clear-All:active {
    background-color: #591d2a;
}
